@page "/"

<style>
    body {
        background-color: LightSteelBlue;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0; 
        padding: 0; 
        font-weight: bold;
    }
</style>

<br />

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <ToDoApp.Pages.Components.ToDo HeaderName="Daily Tasks">
            </ToDoApp.Pages.Components.ToDo>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <ToDoApp.Pages.Components.ToDo HeaderName="Weekly Tasks">
            </ToDoApp.Pages.Components.ToDo>
        </div>
    </div>
</div>
