@page "/"

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <ToDoApp.Pages.Components.ToDo HeaderName="Daily Tasks">
            </ToDoApp.Pages.Components.ToDo>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <div class="col-6">
            <ToDoApp.Pages.Components.ToDo HeaderName="Mothly Tasks">
            </ToDoApp.Pages.Components.ToDo>
        </div>
    </div>

</div>
